.container
  width: 80%
  margin: 0 auto

  mbta-app
    h1
      text-align: center

    .boards
      display: flex

    north-station, south-station
      flex: 1

    .spacer
      width: 30px;

    .train, .headers
      display: flex

      & > div
        text-transform: capitalize
    
    .trip, .lateness, .track
      flex: 1

    .destination, .status, .scheduledtime
      flex: 2


